@font-face {
  font-family: "Druk Wide";
  src: url("../../assets/fonts/druk/DrukWide-Medium.woff2") format("woff2"),
    url("../../assets/fonts/druk/DrukWide-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Druk Wide";
  src: url("../../assets/fonts/druk/DrukWide-Bold.woff2") format("woff2"),
    url("../../assets/fonts/druk/DrukWide-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Druk Wide";
  src: url("../../assets/fonts/druk/DrukWide-HeavyItalic.woff2") format("woff2"),
    url("../../assets/fonts/druk/DrukWide-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Druk Wide";
  src: url("../../assets/fonts/druk/DrukWide-MediumItalic.woff2")
      format("woff2"),
    url("../../assets/fonts/druk/DrukWide-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Druk Wide";
  src: url("../../assets/fonts/druk/DrukWide-Heavy.woff2") format("woff2"),
    url("../../assets/fonts/druk/DrukWide-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Druk Wide";
  src: url("../../assets/fonts/druk/DrukWide-BoldItalic.woff2") format("woff2"),
    url("../../assets/fonts/druk/DrukWide-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Druk Wide Super";
  src: url("../../assets/fonts/druk/DrukWide-Super.woff2") format("woff2"),
    url("../../assets/fonts/druk/DrukWide-Super.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Druk Wide Super";
  src: url("../../assets/fonts/druk/DrukWide-SuperItalic.woff2") format("woff2"),
    url("../../assets/fonts/druk/DrukWide-SuperItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
