// Import needed sass modules
@use 'utilities/variables' as *;
@use 'utilities/functions' as *;

/* Typography styles
-------------------------------------------------------------- */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga';
  text-rendering: optimizeLegibility;

  font-size: $base-size;
  line-height: $base-line-height;
  color: $color-dark;
  font-family: $font-primary;

  h1 {
    font-size: rem-calc(75);
    line-height: 1;
    font-weight: 700;
    letter-spacing: rem-calc(-1.8);
  }
  h2,
  h3 {
    font-size: rem-calc(20);
    font-weight: 700;
    letter-spacing: rem-calc(-0.2);
    margin-bottom: rem-calc(15);
  }
  p {
    margin-bottom: rem-calc(15);
  }
  a {
    color: $color-dark;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  b,
  strong {
    font-weight: 600;
  }
}
