// Import needed sass modules
@use '../../../../styles/utilities/functions' as *;
@use '../../../../styles/utilities/variables' as *;

#content-about {
  .content-inner {
    display: flex;
    border-bottom: rem-calc(1) solid $color-dark;
    padding-bottom: $spacing-8;
  }
  aside {
    flex-basis: 21%;
    padding-top: $spacing-3;
  }
  main {
    flex: 1;
  }
  .about-section {
    padding: $spacing-3 $spacing-3 $spacing-3 0;
    border-bottom: rem-calc(1) solid $color-dark;
    display: flex;
    &:last-child {
      border: none;
    }
  }
  .section-title {
    flex-basis: 27%;
    margin-bottom: 0;
  }
  h3 {
    margin-bottom: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
