// Import needed sass modules
@use '../../../../styles/utilities/variables' as *;
@use '../../../../styles/utilities/functions' as *;

#content-long-form {
  .content-inner {
    display: flex;
    border-bottom: rem-calc(1) solid $color-dark;
    padding-bottom: $spacing-8;
  }
  aside {
    flex-basis: 21%;
    padding-top: $spacing-3;
  }
  main {
    flex: 1;
  }
  .long-form-section {
    padding: $spacing-3 $spacing-3 $spacing-3 0;
    border-bottom: rem-calc(1) solid $color-dark;
    display: flex;
    &:last-child {
      border: none;
    }
  }
  .section-title {
    flex-basis: 27%;
    margin-bottom: 0;
  }
  .articles {
    flex: 1;
    article {
      margin-bottom: $spacing-2;
      *:last-child {
        margin-bottom: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
