/* Theme variables
-------------------------------------------------------------- */
$base-size: 16px;
$base-line-height: 1.5;
$base-weight: 400;
$primary: 'Lora', serif;
$secondary: 'Oxygen', sans-serif;

/* Colors
-------------------------------------------------------------- */
// Background colors
$background-lite: #edece5;

// Font colors
$dark: #272527;
$alt: #df836a;
