/* Theme variables
-------------------------------------------------------------- */
$base-size: 16px;
$base-line-height: 1.5;
$base-weight: 400;
$font-primary: system-ui, sans-serif;

/* Colors
-------------------------------------------------------------- */
// Background colors
$background-lite: #fcfafa;

// Font colors
$color-dark: #514f4d;
