// Import needed sass modules
@use '../../../../styles/utilities/variables' as *;
@use '../../../../styles/utilities/functions' as *;

#content-skills {
  .content-inner {
    display: flex;
    border-bottom: rem-calc(1) solid $color-dark;
    padding-bottom: rem-calc(120);
  }
  aside {
    flex-basis: 21%;
    padding-top: rem-calc(50);
  }
  main {
    flex: 1;
  }
  .skills-section {
    padding: rem-calc(50) rem-calc(50) rem-calc(50) 0;
    border-bottom: rem-calc(1) solid $color-dark;
    display: flex;
    &:last-child {
      border: none;
    }
  }
  .section-title {
    flex-basis: 27%;
    margin-bottom: 0;
  }
  .section-text {
    flex: 1;
    ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      li {
        flex-basis: calc(33.333% - rem-calc(8));
      }
    }
  }
}
