@font-face {
  font-family: "circular";
  src: url("../../assets/fonts/circular/916a46dce6631dc17ecf8a57ad733a0f.woff2") format("woff2"),
    url("../../assets/fonts/circular/916a46dce6631dc17ecf8a57ad733a0f.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "circular";
  src: url("../../assets/fonts/circular/5ff79545e987d5b1816f61bd2fa325b6.woff2") format("woff2"),
    url("../../assets/fonts/circular/5ff79545e987d5b1816f61bd2fa325b6.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "circular";
  src: url("../../assets/fonts/circular/b61735c99b616c457a09eda3f7b196e8.woff2") format("woff2"),
    url("../../assets/fonts/circular/b61735c99b616c457a09eda3f7b196e8.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "circular";
  src: url("../../assets/fonts/circular/cdadd225744bf64bcaa26369534e7736.woff2") format("woff2"),
    url("../../assets/fonts/circular/cdadd225744bf64bcaa26369534e7736.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

// @font-face {
//   font-family: "circular";
//   src: url("../../assets/fonts/circular/5b0d693d17a4fd6d3c1322281ab92c87.woff2") format("woff2"),
//     url("../../assets/fonts/circular/5b0d693d17a4fd6d3c1322281ab92c87.woff") format("woff");
//   font-weight: 400;
//   font-style: italic;
//   font-display: swap;
// }

@font-face {
  font-family: "circular";
  src: url("../../assets/fonts/circular/143844efda3e4776fe76983430e4fb11.woff2") format("woff2"),
    url("../../assets/fonts/circular/143844efda3e4776fe76983430e4fb11.woff") format("woff");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "circular";
  src: url("../../assets/fonts/circular/5fb3b586a205264cca53e17b98f9e2de.woff2") format("woff2"),
    url("../../assets/fonts/circular/5fb3b586a205264cca53e17b98f9e2de.woff") format("woff");
  font-weight: 450;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "circular";
  src: url("../../assets/fonts/circular/85033765fb36b607b08e7ce72966b8df.woff2") format("woff2"),
    url("../../assets/fonts/circular/85033765fb36b607b08e7ce72966b8df.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "circular";
  src: url("../../assets/fonts/circular/40617ed28045023fea7fc9c6a8e5e774.woff2") format("woff2"),
    url("../../assets/fonts/circular/40617ed28045023fea7fc9c6a8e5e774.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "circular";
  src: url("../../assets/fonts/circular/14d7ec3126b6d93d804552f69df7b959.woff2") format("woff2"),
    url("../../assets/fonts/circular/14d7ec3126b6d93d804552f69df7b959.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "circular";
  src: url("../../assets/fonts/circular/819f15df7c409b9f7a47753d38bbfc64.woff2") format("woff2"),
    url("../../assets/fonts/circular/819f15df7c409b9f7a47753d38bbfc64.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "circular";
  src: url("../../assets/fonts/circular/4987b330b8a1896fd601770e73c914a2.woff2") format("woff2"),
    url("../../assets/fonts/circular/4987b330b8a1896fd601770e73c914a2.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "circular";
  src: url("../../assets/fonts/circular/d3a288c54c952a7a5069f5f22d06aff2.woff2") format("woff2"),
    url("../../assets/fonts/circular/d3a288c54c952a7a5069f5f22d06aff2.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "circular";
  src: url("../../assets/fonts/circular/61dedd08f7c6cd12c57fd76258cb00fd.woff2") format("woff2"),
    url("../../assets/fonts/circular/61dedd08f7c6cd12c57fd76258cb00fd.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "circular";
  src: url("../../assets/fonts/circular/869e2400f784e28b37be25b81fe8c367.woff2") format("woff2"),
    url("../../assets/fonts/circular/869e2400f784e28b37be25b81fe8c367.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
